<app-header></app-header>
<mat-list role="list" *ngIf="userData">
    <mat-list-item role="listitem">Felhasználónév: {{userData.username}}</mat-list-item>
    <mat-list-item role="listitem">Karakterek:</mat-list-item>
    <mat-tab-group>
        <mat-tab *ngFor="let character of userData.characters" label="{{character.name}}">
          <div>Név: {{character.name}}</div>
          <div>Faj: {{character.race}}</div>
          <div>Specializáció: {{character.type}}</div>
          <div>Életerő: {{character.hp}}</div>
          <div>Támadás: {{character.attack}}</div>
          <div>Szint: {{character.level}}</div>
        </mat-tab>
    </mat-tab-group>
  </mat-list>